<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>{% block footer_brand %}Your Application{% endblock %}</h5>
                <p class="text-muted">Professional web application template</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="text-muted mb-0">
                    &copy; {% block footer_year %}2024{% endblock %} Your Company. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer> 